/* CSS */


@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

body {
    background-color: rgb(248, 255, 239);
}

h1 {
    color: black;
    text-align: center
}
